.new_post {

    .form-group {

        input,textarea {
            text-transform: capitalize;
        }

        label {
            margin-top: 20px;
        }

        button {
           justify-self: center;
        }
    }
}